body {
  background-image: url(http://thefw.com/files/2012/12/tumblr_mdee7qxvAn1qmyyhko1_500.gif);  
  color: white;
  font-family: helvetica;
  text-align: center;
}

main{
  width: 300px;
  margin: 0 auto;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.album{
  padding: 5px;
}

h1{
  font-family: helvetica;
  text-align: center;
}

p{
  font-family: helvetica;
  font-size: 10px; 
}

#albums{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center
}